<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>     
    <ion-title>Administración de libros</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-book-list [books]="books"
  (bookClick)="showBookPreview($event)">
  </app-book-list>
</ion-content>
