<ion-header>
  <ion-toolbar>
    <ion-title>Administrador</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-administration-form  [userData]="userData"
                            (submitForm)="onSubmit($event)"
                            (cancelForm)="onCancelForm()">    
  </app-administration-form>
</ion-content>
