<div *ngIf="userData; then thenBlock else elseBlock" ></div>
<ng-template #thenBlock>
<ion-fab vertical="buttom" horizontal="end" edge slot="fixed">
  <ion-fab-button (click)="enableForm()">
    <ion-icon name="create"></ion-icon>
  </ion-fab-button>
</ion-fab>
  <form [formGroup]="administrationForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-text>
        <h4>Información Usuario</h4>
      </ion-text>
    </ion-item>
    <ion-item>
      <ion-input formControlName="username" type="email" placeholder="sucorreo@dominio.com"></ion-input>
    </ion-item>
    <ion-item>
      <ion-text>
        <h4>Información Personal</h4>
      </ion-text>
    </ion-item>
    <ion-item>
      <ion-input formControlName="name" type="text" placeholder="Nombre"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input formControlName="lastname" type="text" placeholder="Apellidos"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input formControlName="dni" type="text" placeholder="Número de documento"></ion-input>
    </ion-item>
    <ion-button type="submit" expand="block">Enviar</ion-button>
    <ng-template #elseBlock>
      <ion-button type="submit" expand="block">CREAR</ion-button>
    </ng-template>
    <ion-button color="danger" expand="block"
                (click)="onCancel()">CANCELAR</ion-button>
  </form>
</ng-template>
<ng-template #elseBlock>
  <form [formGroup]="administrationForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-text>
        <h4>Información Usuario</h4>
      </ion-text>
    </ion-item>
    <ion-item>
      <ion-input formControlName="username" type="email" placeholder="sucorreo@dominio.com"></ion-input>
    </ion-item>
    <ion-item>
      <ion-text>
        <h4>Información Personal</h4>
      </ion-text>
    </ion-item>
    <ion-item>
      <ion-input formControlName="name" type="text" placeholder="Nombre"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input formControlName="lastname" type="text" placeholder="Apellidos"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input formControlName="dni" type="text" placeholder="Número de documento"></ion-input>
    </ion-item>
    <ion-button type="submit" expand="block">CREAR</ion-button>
    <ion-button color="danger" expand="block"
                (click)="onCancel()">CANCELAR</ion-button>
  </form>
</ng-template>
