<form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
  <ion-item>
    <ion-label>Contraseña actual</ion-label>
    <ion-input type="password" formControlName="currentPassword"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Nueva contraseña</ion-label>
    <ion-input type="password" formControlName="newPassword"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Confirmar nueva contraseña</ion-label>
    <ion-input type="password" formControlName="confirmNewPassword"></ion-input>
  </ion-item>

  <ion-button type="submit">Cambiar Contraseña</ion-button>
</form>
