<ion-list>
    <ion-item *ngFor="let book of books">
      <app-admin-book-card [book]="book"
      (click)="onClick(book)">
      </app-admin-book-card>
      <div slot="end">
        <ion-button (click)="edit(book)">
            <ion-icon name="create-outline"></ion-icon>
          </ion-button>
        <ion-button color="danger" (click)="remove(book)">
          <ion-icon name="close-circle-outline"></ion-icon>
        </ion-button>
      </div>
    </ion-item>
</ion-list>