<ion-card-header>
    <ion-card-title>{{administration.person.dni}}</ion-card-title>
</ion-card-header>
<ion-card-content>
  <p>{{administration.username}}</p>
  <p>{{fullname()}}</p>
</ion-card-content>
