<ion-header>
  <ion-toolbar>
    <ion-title>Editar datos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-personal-data-form [userData]="user"
                          (submitForm)="onSubmit($event)"
                          (cancelForm)="onCancelForm()">
  </app-personal-data-form>
</ion-content>
