<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>     
    <ion-title>Lista de administradores</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-administration-list [administrators]="administrators" 
                            (editClick)="onEditAdministrator($event)"
                            (removeClick)="onRemoveAdministrator($event)">
  </app-administration-list>

  <ion-fab vertical="buttom" horizontal="end" edge slot="fixed">
    <ion-fab-button (click)="gotToCreateAdministrator()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
