<ion-header>
  <ion-toolbar>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid id="table" *ngIf="user">
    <ion-row> 
      <ion-col  col-12 col-xl-2 col-lg-3 col-md-4>
        <ion-item class="title">
          <ion-label>Correo</ion-label>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label>{{user.username}}</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item class="title">
          <ion-label>Nombre</ion-label>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label>{{user.person.name}}</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row> 
      <ion-col>
        <ion-item>
          <ion-label class="title">Apellido</ion-label>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label>{{user.person.lastname}}</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row> 
      <ion-col>
        <ion-item class="title">
          <ion-label>Número de documento</ion-label>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label>{{user.person.dni}}</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row> 
      <ion-col>
        <ion-item class="title">
          <ion-label>Fecha de nacimiento</ion-label>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label>{{user.person.birthdate}}</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row> 
      <ion-col>
        <ion-item class="title">
          <ion-label>Genero</ion-label>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label>{{user.person.gender}}</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row> 
      <ion-col>
        <ion-item class="title">
          <ion-label>Departamento de nacimiento</ion-label>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label>{{user.person.birthplace.state}}</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row> 
      <ion-col>
        <ion-item class="title">
          <ion-label>Ciudad de nacimiento</ion-label>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label>{{user.person.birthplace.city}}</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row> 
      <ion-col>
        <ion-item class="title">
          <ion-label>Dirección</ion-label>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label>{{user.person.address}}</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row> 
      <ion-col>
        <ion-item class="title">
          <ion-label>Departamento de residencia</ion-label>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label>{{user.person.city.state}}</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item class="title">
          <ion-label>Ciudad de residencia</ion-label>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label>{{user.person.city.city}}</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-button (click)="goToEditProfile()">Editar Perfil</ion-button>
  <ion-button (click)="goToChangePassword()">Cambiar Contrseña</ion-button>
</ion-content>
