<ion-card id="card" (click)="goToBookView()">
  <img id="img" [src]="book.picture.url"/>
  <ion-card-header>
    <ion-card-subtitle>{{book.author}}</ion-card-subtitle>
    <ion-card-title>{{book.title}}</ion-card-title>
  </ion-card-header>
    <ion-card-content>
      {{book.ISSN}}
    <ion-card-subtitle>${{book.price}}</ion-card-subtitle>
  </ion-card-content>
</ion-card>
