<form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
  <ion-item>
    <ion-text>
      <h4>Información de Usuario</h4>
    </ion-text>
  </ion-item>
  <ion-item>
    <ion-input formControlName="username" type="email" placeholder="sucorreo@dominio.com"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input formControlName="password" type="password" placeholder="Contraseña"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input formControlName="repassword" type="password" placeholder="Confirme Contraseña"></ion-input>
  </ion-item>
  <ion-item>
    <ion-text>
      <h4>Información Personal</h4>
    </ion-text>
  </ion-item>
  <ion-item>
    <ion-input formControlName="name" type="text" placeholder="Nombre"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input formControlName="lastname" type="text" placeholder="Apellido"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input formControlName="dni" type="text" placeholder="Documento de identidad"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Fecha de nacimiento</ion-label>
    <ion-datetime formControlName="birthdate" min="1920" max="2006" placeholder="Fecha de nacimiento"></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label>Género</ion-label>
    <ion-select formControlName="gender" interface="popover">
      <ion-select-option>Femenino</ion-select-option>
      <ion-select-option>Masculino</ion-select-option>
      <ion-select-option>Otro</ion-select-option>
      <ion-select-option>No especificar</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>Departamento de nacimiento</ion-label>
    <ion-select interface="popover" (ionChange)="getBirthplaces($event)">
      <ion-select-option *ngFor="let state of states" [value]="state">{{state}}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>Ciudad de nacimiento</ion-label>
    <ion-select formControlName="birthplace" interface="popover">
      <ion-select-option *ngFor="let city of formBirthplaces" [value]="city">{{city.city}}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-input formControlName="address" type="text" placeholder="Dirección de residencia"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Departamento de residencia</ion-label>
    <ion-select interface="popover" (ionChange)="getCities($event)">
      <ion-select-option *ngFor="let state of states" [value]="state">{{state}}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>Ciudad de residencia</ion-label>
    <ion-select formControlName="city" interface="popover">
      <ion-select-option *ngFor="let city of cities" [value]="city">{{city.city}}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>Preferencias literarias</ion-label>
    <ion-select formControlName="ltPreferences" interface="alert" multiple="true">
      <ion-select-option *ngFor="let genre of genres" [value]="genre">{{genre.name}}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-button type="submit" expand="block">Registrarse</ion-button>
</form>  
