<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>     
    <ion-title>Nabu</ion-title>
  </ion-toolbar>
  <ion-searchbar  animated
                  (ionChange)="search($event)">
  </ion-searchbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let book of books | filter: searchText: 'title': 'author': 'price'" col-12 col-xl-2 col-lg-3 col-md-4>
        <app-search-book-card class="card"  [book]="book"></app-search-book-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
