<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content">
      <ion-header>
        <ion-toolbar>
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false">
            <ion-item [routerDirection]="'root'" [routerLink]="'/search-book'">
              <ion-icon slot="start" [name]="'home'"></ion-icon>
              <ion-label>
                Inicio
              </ion-label>
            </ion-item>
            <ion-item [routerDirection]="'root'" 
                      [routerLink]="'/administration-profile'" 
                      *ngIf="authenticationService.isAuthenticated && this.authenticationService.userType !== 'root'">
              <ion-icon slot="start" [name]="'person'"></ion-icon>
              <ion-label>
                Perfil
              </ion-label>
            </ion-item>
            <ion-item [routerDirection]="'root'" 
                      [routerLink]="'/administration'" 
                      *ngIf="this.authenticationService.isAuthenticated && this.authenticationService.userType === 'root'">
              <ion-icon slot="start" [name]="'people'"></ion-icon>
              <ion-label>
                Administracion de usuarios 
              </ion-label>
            </ion-item>
            <ion-item [routerDirection]="'root'" 
                      [routerLink]="'/admin-books'" 
                      *ngIf="this.authenticationService.isAuthenticated && this.authenticationService.userType === 'admin'">
              <ion-icon slot="start" [name]="'library'"></ion-icon>
              <ion-label>
                Administracion de libros 
              </ion-label>
            </ion-item>
              <ion-item [routerDirection]="'root'" [routerLink]="'/login'" *ngIf="!authenticationService.isAuthenticated">
                <ion-icon slot="start" [name]="'person'"></ion-icon>
                <ion-label>
                  Iniciar Sesión
                </ion-label>
              </ion-item>
              <ion-item [routerDirection]="'root'" (click)="logOut()" [routerLink]="'/search-book'" *ngIf="authenticationService.isAuthenticated">
                <ion-icon slot="start" [name]="'exit'"></ion-icon>
                <ion-label>
                  Cerrar Sesión
                </ion-label>
              </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu> 
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
