<ion-fab vertical="buttom" horizontal="end" edge slot="fixed">
  <ion-fab-button (click)="enableForm()">
    <ion-icon name="create"></ion-icon>
  </ion-fab-button>
</ion-fab>
<form [formGroup]="clientForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-text>
        <h4>Información de Usuario</h4>
      </ion-text>
    </ion-item>
    <ion-item>
      <ion-input formControlName="username" type="email" placeholder="sucorreo@dominio.com"></ion-input>
    </ion-item>
    <ion-item>
      <ion-text>
        <h4>Información Personal</h4>
      </ion-text>
    </ion-item>
    <ion-item>
      <ion-input formControlName="name" type="text" placeholder="Nombre"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input formControlName="lastname" type="text" placeholder="Apellido"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input formControlName="dni" type="text" placeholder="Documento de identidad"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Fecha de nacimiento</ion-label>
      <ion-datetime formControlName="birthdate" min="1920" max="2006" placeholder="Fecha de nacimiento"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>Género</ion-label>
      <ion-select formControlName="gender" interface="popover">
        <ion-select-option>Femenino</ion-select-option>
        <ion-select-option>Masculino</ion-select-option>
        <ion-select-option>Otro</ion-select-option>
        <ion-select-option>No especificar</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Departamento de nacimiento</ion-label>
      <ion-select formControlName="birthState" interface="popover" (ionChange)="getBirthplaces($event)">
        <ion-select-option *ngFor="let state of states" [value]="state">{{state}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Ciudad de nacimiento</ion-label>
      <ion-select formControlName="birthplace" interface="popover">
        <ion-select-option *ngFor="let city of formBirthplaces" [value]="city">{{city.city}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-input formControlName="address" type="text" placeholder="Dirección de residencia"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Departamento de residencia</ion-label>
      <ion-select formControlName="state" interface="popover" (ionChange)="getCities($event)">
        <ion-select-option *ngFor="let state of states" [value]="state">{{state}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Ciudad de residencia</ion-label>
      <ion-select formControlName="city" interface="popover">
        <ion-select-option *ngFor="let city of cities" [value]="city">{{city.city}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-button id="emitClient" type="submit" expand="block">Enviar</ion-button>
    <ion-button color="danger" expand="block"
                (click)="onCancel()">CANCELAR</ion-button>
</form>    

