<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>     
    <ion-title>Inicio de sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-login-form (submitForm)="onLogin($event)">
  </app-login-form>
  <ion-text color="primary" (click)="goToSignUpForm()">
    <p align="center">¿No esta registrado?</p>
  </ion-text>
</ion-content>
