<ion-header translucent>
  <ion-toolbar>
    <ion-title>{{book.title}}</ion-title>
  </ion-toolbar>
</ion-header>

<img [src]="book.picture.url" />
  <ion-grid id="table">
    <ion-row> 
      <ion-col  col-xl-2 >
        <ion-item>
          <ion-label>Titulo</ion-label>
        </ion-item>
      </ion-col>
      <ion-col col-xl-2>
        <ion-item>
          <ion-label>{{book.title}}</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>Autor</ion-label>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label>{{book.author}}</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row> 
      <ion-col>
        <ion-item>
          <ion-label>Numero de Paginas</ion-label>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label>{{book.numberPages}}</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row> 
      <ion-col>
        <ion-item>
          <ion-label>Condición</ion-label>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label>{{book.condition}}</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row> 
      <ion-col>
        <ion-item>
          <ion-label>Unidades Disponibles</ion-label>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label>{{book.stock}}</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row> 
      <ion-col>
        <ion-item>
          <ion-label>Editorial</ion-label>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-label>{{book.editorial}}</ion-label>
      </ion-col>
    </ion-row>
    <ion-row> 
      <ion-col>
        <ion-item>
          <ion-label>ISSN</ion-label>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label>{{book.ISSN}}</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row> 
      <ion-col>
        <ion-item>
          <ion-label>Año de Publicación</ion-label>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label>{{book.publicationYear}}</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row> 
      <ion-col>
        <ion-item>
          <ion-label>Genero</ion-label>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label>{{book.genre.name}}</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row> 
      <ion-col>
        <ion-item>
          <ion-label>Fecha de Publicación</ion-label>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label>{{datePublication()}}</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>Precio</ion-label>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label>${{book.price}}</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>  
