<ion-list>
  <ion-card *ngFor="let administrator of administrators">
    <app-administration-card [administration]="administrator"></app-administration-card>
    <ion-item>
      <ion-button id="edit" slot="end" 
                  (click)="edit(administrator)">
        <ion-icon name="create-outline"></ion-icon>
      </ion-button>
      <ion-button id="deleteButton" slot="end" 
                  color="danger"
                  (click)="delete(administrator)">
        <ion-icon name="close-circle-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-card>
</ion-list>